.container {
    width: 400px;
    height: 550px;
    border-color: rgba(255, 255, 255, 0.2);
    border-width: 3px;
    border-style: solid;
    border-radius: 100px 30px 100px 30px;
    background: none;
}


.labels-container{
}

.login-btn{
    margin-top: 50px;
    width: 100%;
}

.btn-outline-light.login-btn {
    border-color: rgba(255, 255, 255, 0.2);
    border-width:2px;
    border-style: solid;
    border-radius: 5px;
}   

.logo{
    width: 200px;
}

.logo-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


::ng-deep.flat-label-input{
        opacity: 0.2;
        background-color: rgb(174, 174, 174);
}


   .form-floating {
       background-color: transparent;
       color: white;
   }


   .form-control.flat-label-input {
       background-color: transparent;
       color: white;
       border: 2px solid white;
   }

   .form-control.flat-label-input::placeholder {
       color: white;
   }

   .form-control.flat-label-input:focus {
       background-color: transparent;
       color: white;
   }

   .form-floating label {
       color: white;
       background-color: transparent;
       /* Label-Hintergrund transparent setzen */
   }

   .form-floating .form-control:focus~label {
       background-color: transparent;
       /* Label-Hintergrund transparent setzen, wenn das Feld fokussiert ist */
   }

   ::ng-deep label::after {
    background-color: transparent !important;
   }