<div class="container" [ngClass]="{' loggedIn': isLoggedIn}" >
    <div class="content-container">
        <div class="logo-container">
            <img src="../../assets/logo.png" class="logo" alt="" [ngClass]="{' box-glow': isLoading}">
        </div>
        <div class="form-floating mb-3 " data-bs-theme="dark">
            <input type="text" class="form-control flat-label-input" id="floatingInput" placeholder="" [disabled]="isLoading">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating ">
            <input type="password" class="form-control flat-label-input" id="floatingPassword" placeholder="" [disabled]="isLoading">
            <label for="floatingPassword">Password</label>
            <div style="margin-top: 10px;">
                <span style="color: white; float: right; cursor: pointer;">Forgot Password? </span>
                <div class="form-check" >
                    <input class="form-check-input button-glow-on-hover" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      remember me
                    </label>
                  </div>
            </div>
            
        </div>

        

        <button type="button" class="btn btn-outline-light login-btn button-glow-on-hover shake" [ngClass]="{'shake': isWrong}" (click)="login()" [disabled]="isLoading">
            <span class="spinner-border spinner-border-sm" aria-hidden="true" *ngIf="isLoading"></span>
            <span *ngIf="!isLoading">Login</span>
        </button>
    </div>

    <div style="margin-top: 10px;">
        <span style="color: white;">Dont have an account? <span
                style="color: rgb(132, 132, 255); cursor: pointer;">Create</span></span>
    </div>
</div>