.container {
    width: 400px;
    height: 550px;
    border-color: rgba(255, 255, 255, 0.2);
    border-width: 3px;
    border-style: solid;
    border-radius: 100px 30px 100px 30px;
    background: none;
}


.content-container {
    color: white;
}

.login-btn {
    margin-top: 50px;
    width: 100%;
}

.btn-outline-light.login-btn {
    border-color: rgba(255, 255, 255, 0.2);
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
}

.logo {
    width: 200px;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


::ng-deep .flat-label-input {
    border-color: rgba(255, 255, 255, 0.2);
}


.form-control:focus {
    border-color: #C30068;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
.form-control:hover {
    border-color: #C30068;
    box-shadow: inset 0 2px 20px rgba(0, 0, 0, 0.075), 0 0 20px rgba(255, 0, 0, 0.6);
    background-color: transparent;
    color: white;
}


.form-floating {
    background-color: transparent;
    color: white;
}


.form-control.flat-label-input {
    background-color: transparent;
    color: white;
}

.form-control.flat-label-input::placeholder {
    color: white;
}

.form-control.flat-label-input:focus {
    background-color: transparent;
    color: white;
}

.form-floating label {
    color: white;
    background-color: transparent;
    /* Label-Hintergrund transparent setzen */
}

.form-floating .form-control:focus~label {
    background-color: transparent;
    /* Label-Hintergrund transparent setzen, wenn das Feld fokussiert ist */
}

::ng-deep label::after {
    background-color: transparent !important;
}

/* GLOWONHOVER */
.button-glow-on-hover {
   
}

.button-glow-on-hover:hover {
    border-color: #C30068;
    box-shadow: inset 0 2px 20px rgba(0, 0, 0, 0.075), 0 0 20px rgba(255, 0, 0, 0.6);
    background-color: transparent;
    color: white;
}

@keyframes pulse {
    0% {
        box-shadow: none;
        transform: scale(1);
    }
    50% {
        /* box-shadow: inset 0 2px 20px rgba(0, 0, 0, 0.075), 0 0 60px rgba(255, 0, 0, 0.9); */
        transform: scale(1.3);
    }
    100% {
        box-shadow:none;
        transform: scale(1);
    }
}

@keyframes fadeup {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100px); /* Ändern Sie den Wert, um die Höhe der Bewegung anzupassen */
        opacity: 0;
    }
}

.shake{
    animation: shake 0.3s forwards;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0); /* Start- und Endpunkt, keine Verschiebung */
    }

    20%, 80% {
        transform: translateX(-5px); /* Stärkeres Zittern */
    }

    40%, 60% {
        transform: translateX(5px); /* Schwächeres Zittern */
    }
}

.box-glow {
    background-color: transparent;
    color: white;
    animation: pulse 2s infinite;
   
}

.loggedIn {
    animation: fadeup 1s forwards;
}




.button-glow-on-hover:active{
    background-color: transparent;
    color: white;
    box-shadow: none;
}
