<div class="container">
    <div class="content-container">
        <div class="logo-container">
            <img src="../../assets/logo.png" class="logo" alt="">
        </div>
        <div class="form-floating mb-3 " data-bs-theme="dark">
            <input type="email" class="form-control flat-label-input" id="floatingInput" placeholder="">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating ">
            <input type="password" class="form-control flat-label-input" id="floatingPassword" placeholder="">
            <label for="floatingPassword">Password</label>
            <span style="color: white; float: right; cursor: pointer;">Forgot Password? </span>
        </div>
        <button type="button" class="btn btn-outline-light login-btn button-glow-on-hover"
            (click)="login()">Login</button>
        <div style="margin-top: 10px;">
            <span style="color: white;">Dont have an account? <span
                    style="color: rgb(132, 132, 255); cursor: pointer;">Create</span></span>
        </div>
    </div>
</div>